<md-card>
  <md-card-title>Entrar</md-card-title>

  <form #signInForm="ngForm" (ngSubmit)="onSubmit()">
    <md-card-content>
      <md-input-container>
        <input mdInput type="text" placeholder="Email" required [(ngModel)]="_signInData.email" name="email">
      </md-input-container>
      <md-input-container>
        <input mdInput type="password" placeholder="Senha" required [(ngModel)]="_signInData.password" name="password">      
      </md-input-container>
    </md-card-content>

    <md-card-actions>
      <button md-button color="primary" [disabled]="!signInForm.form.valid">Entrar</button>
    </md-card-actions>
  </form>
</md-card>